@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

h1 {
    font-family: 'Special Elite', cursive;
    text-align: left;
}

h2, h3, h4, h5, p, ul, body {
    font-family: 'IBM Plex Mono', monospace;
    text-align: left;
}

a {
    color: #D9B382;
    text-decoration: none;
}

a:visited {
    color: #804d24;
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
}

.logo {
    position: fixed;
    top: 250px; /* Adjust position */
    right: 50px; /* Adjust position */
    width: 40px; /* Adjust size */
    height: auto;
    z-index: 1000; /* Ensures it's above other elements */
}

.text-container {
    max-width: 700px;  /* Limits width on desktops */
    width: 90%;        /* Adapts to smaller screens */
    margin: 0 auto;     /* Centers text */
}

@media (max-width: 768px) { /* Adjust for tablets and phones */
    .text-container {
        max-width: 100%; /* Use full width on small screens */
        padding: 0 10px;
    }
}

